#loupe	{
	position:relative;
	left:78%;
	top:4%;
	width:200px;
}

#first	{
	position:relative;
	top:10%;
	left:1%;
	width:1px;
}

#first_block{
	width:1400px;
	margin:auto;
}

#first_block1{
	width:1400px;
	height:120px;
	margin:auto;
	background-color:hsl(0, 0%, 56%);
	border-radius: .5em;
	box-shadow: .5em .5em .5em black;
	margin-top: 1em;
}

#second_block{
	width:1400px;
	margin:auto;
	text-align:center;
}

#img_left {
	width:75px;
	height:75px;
}

#second_block_left {
	width:140px;
	height:440px;
	margin-right:20px;
	margin-top:20px;
	background-color:hsl(0, 0%, 56%);
	border-radius: .5em;
	box-shadow: .5em .5em .5em black;
	display:inline-block;
	vertical-align:top;
}

#second_block_center {
	width:970px;
	height:550px;
	margin-top:20px;
	background-color:hsl(0, 0%, 56%);
	border-radius: .5em;
	box-shadow: .5em .5em .5em black;
	display:inline-block;
	vertical-align:top;
}

#second_block_right {
	width:132px;
	height:440px;
	margin-left:20px;
	margin-top:20px;
	background-color:hsl(0, 0%, 56%);
	border-radius: .5em;
	box-shadow: .5em .5em .5em black;
	display:inline-block;
	vertical-align:top;
}

#box{
	width:460px;
	height:150px;
	background-color: #89FE89;
	border-radius: .5em;
	margin:auto;
	box-shadow: .5em .5em .5em black;
	position:absolute;
	margin-top:-65px;
}

